/*
Estilos da página index.html
*/

.center {
    display: center;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 20px;
}

#menu li a{
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    color: purple;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}
.tm-social {
     width: 30px;
     height: 30px;
}

.marge {
    margin: 30px;
}

.justify {
    text-align: justify;
}

.mb-50 {
    margin-bottom: 50px;
}

/*estilos da página de contato.html*/
.ml-50 {
    margin-left: 50px;
}